{% extends '@App/admin/master/layout.html.twig' %}
{% set page_title = 'Dodavanje Novog Grada' %}

{% block body %}

    <div class="col-lg-12">
        <h1 class="page-header">
            Novi Grad

            <a href="{{ path('admin_cities') }}" class="btn btn-success" style="float: right;">
                Nazad
            </a>
        </h1>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Forma za kreiranje Novog Grada
            </div>
            <div class="panel-body">

                {% include '@App/admin/cities/blocks/form.html.twig' %}

            </div>
        </div>
    </div>
{% endblock %}

